$headerBackground: #fff;
$purple: #5C62EC;
$headerText:  #171718;

.HeaderMain {
    background-color: $headerBackground;
    padding: 20px 0;
    color: $headerText;
    letter-spacing: normal;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Poppins';
    color: $headerText;
    font-size: 24px;
    text-shadow: 2px -2px 2px rgba(0, 0, 0, 0.26);
}

.logo strong {
    font-weight: 700;
}

.nav {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;

        &List   {
            display: flex;
            align-items: center;
            column-gap: 40px;

                .navItem{
                    

                        .navLink{
                            color: $headerText;
                            text-shadow: 2px -2px 2px rgba(0, 0, 0, 0.26);
                        }
                }
        }
}

.activeLink {
    position: relative;

    &::before{
        content: "";
        width: 100%;
        height: 3px;
        background-color: $purple;
        position: absolute;
        left: 0;
        top: 100%;
    }
}

