.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    --page-bg: var(--page-bg-light);
    --text-color: var(--text-color-light);
    --project-card-bg: var(--project-card-bg-light);
    --project-card-text: var(--project-card-text-light);
    --header-menu-burger: var(--header-menu-burger-light);
}