// обнуляющий стили файл
@import url("./utility/resetStyles.scss");
// Добавляю шрифты
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:wght@400;500;700&display=swap");
// font-family: 'Poppins'; font-family: 'DM Sans'

:global {
	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 25px;
	}

	.dark {
		/* Dark mode */
		--header-bg: var(--header-bg-dark);
		--header-text: var(--header-text-dark);
		--header-menu-burger: var(--header-menu-burger-dark);

		--page-bg: var(--page-bg-dark);
		--text-color: var(--text-color-dark);

		--project-card-bg: var(--accent);
		--project-card-text: var(--project-card-text-dark);
	}
}

#root {
	min-height: 100vh;
}
